html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFF;
  overflow: hidden;
}

body,
input,
select,
option {
  font-family: Arial, serif;
  font-size: 10pt;
}

.column {
  float: left;
  margin: 10px;
  height: 170px;
}

.filter,
input[type='button'] {
  margin-bottom: 10px;
}

input[type='button'] {
  display: block;
}

#map {
  height: 500px;
  clear: both;
}

#startDate,
#endDate,
#startTime,
#endTime {
  width: 80px;
}